<div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-baseline pb-2">
	<button class="btn btn-primary btn-ms mr-2" type="submit">
		Guardar <i data-feather="save" class="feather-light"></i>
	</button>
	<div class="alert alert-light"> 
    	¡Documento listo! 
	</div>
</div>