<div class="modal-header">
  <h4 class="modal-title">{{titleText}}</h4>
  <button type="button" 
    class="close" 
    aria-label="Close" 
    (click)="activeModal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="bodyText"></p>
</div>
<div class="modal-footer" #footer>
  <button *ngFor="let button of buttons" type="button" 
    class="btn btn-outline-primary" 
    (click)="button.callback(activeModal)">{{ button.text }}</button>
</div>