<nav *ngIf="authSrv.isAuthenticated" class="navbar navbar-expand-lg navbar-light bg-light" app-navbar></nav> 
<div class="container-fluid"> 
  <div class="row"> 
    <div class="col-md-12 col-lg-12 ml-sm-auto pt-3 px-4"> 
      <router-outlet></router-outlet> 
    </div> 
  </div> 
</div>