<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start pb-2 mb-2 border-bottom"> 
	<header> 
		<h3>Mi documento</h3>
		<h4>
			<!--<i data-feather="user"></i>-->
			Juan Gomez - 01/Jun/2020
		</h4>
	</header>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="d-flex flex-column">
			<div class="p-1">
				<div class="btn-group"> 
				  	<button class="btn btn-sm btn-link text-danger" 
					    title="Eliminar el documento actual" 
					    (click)="delete()"> 
					    <span class="mr-1">Eliminar</span> 
					    <i data-feather="trash-2" class="feather-danger"></i> 
				  	</button> 
				  	<button class="btn btn-sm btn-link" 
					    title="Copiar el documento actual" 
					    (click)="copy()"> 
					    <span class="mr-1">Copiar</span> 
					    <i data-feather="copy"></i> 
				  	</button> 
		  		</div>
	  		</div>
	  		<div class="p-1 text-right"> 
		        <div class="btn-group"> 
	          		<button class="btn btn-sm btn-link text-info" 
			            [disabled]="false" 
			            [routerLink]="['/other/']"> 
					    <span class="mr-1">Mas Información</span>
		            	<i data-feather="layers" class="feather-info"></i> 
		          	</button> 
				  	<button class="btn btn-sm btn-link text-secondary" 
					    title="Otro comando" 
					    (click)="otherCommand()"> 
					    <span class="mr-1">Otro Comando</span>
		            	<i data-feather="command" class="feather-secondary"></i> 
				  	</button> 
	          	</div>
          	</div>
  		</div>
	</div>
</div>
