div.pages-container 
  /*overflow: auto*/

div.pages-container 
  div.page:last-child 
    margin-top: 5em

div.pages-container 
  div.page:first-child 
    margin-top: 0em


div.page 
  font-family: 'Arial' 
  font-size: 12px 
  display: block 
  background-color: #FFF 
  border: 1px solid #999 
  width: 100em 
  min-height: 130em 
  padding: 3em 

  -webkit-box-shadow: 8px 10px 24px -4px rgba(0,0,0,0.75) 
  -moz-box-shadow: 8px 10px 24px -4px rgba(0,0,0,0.75) 
  box-shadow: 8px 10px 24px -4px rgba(0,0,0,0.75) 


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+62,eaeaea+100 */
  background: #ffffff /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 62%, #eaeaea 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 62%,#eaeaea 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#ffffff 62%,#eaeaea 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1) /* IE6-9 fallback on horizontal gradient */ 
