/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'


.feather 
	width: 20px
	height: 20px
	stroke: $primary
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
	fill: none

.btn
	.feather 
		vertical-align: sub


body.signin
	display: flex
	-ms-flex-align: center
	align-items: center
	padding-top: 40px
	padding-bottom: 40px
	background-color: #f5f5f5
	text-align: center!important

	app-root
		width: 100%
		margin: auto 


.feather-primary 
	stroke: $primary 



svg.feather-secondary 
	stroke: $secondary 

svg.feather-success 
	stroke: $success 

svg.feather-danger 
	stroke: $danger 

svg.feather-warning 
	stroke: $warning 

svg.feather-info 
	stroke: $info 

svg.feather-light 
	stroke: $light 

svg.feather-dark 
	stroke: $dark 

svg.feather-muted 
	stroke: $text-muted 

svg.feather-white 
	stroke: $white 



h1 
	font-size: $h1-font-size

h2 
	font-size: $h2-font-size

h3 
	font-size: $h3-font-size

h4 
	font-size: $h4-font-size

h5 
	font-size: $h5-font-size

h6 
	font-size: $h6-font-size






